@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.Square1{
    /* display: flex; */
height: 110px;
padding: 0px 32px;
/* justify-content: space-between; */
/* align-items: center; */
/* flex: 1 0 0; */
border-radius: 8px;
border-bottom: 4px solid var(--blue-500, #0951FE);
background: var(--White, #FFF);
box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.14);
}
.Square2{

    height: 110px;
    padding: 0px 32px;

    border-radius: 8px;
border-bottom: 4px solid #FF9800;
background: var(--White, #FFF);
box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.14);
}
.Square3{

height: 110px;
padding: 0px 32px;
border-radius: 8px;
border-bottom: 4px solid var(--green-6, #28C794);
background: var(--White, #FFF);
box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.14);

}
.Square4{

    height: 110px;
    padding: 0px 32px;
    border-radius: 8px;
border-bottom: 4px solid var(--red-5, #E84A4D);
background: var(--White, #FFF);
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.14);
}
.p1{
    color: var(--gray-8, #1F1F1F);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.p2{
    color: var(--gray-8, #1F1F1F);

    /* head/Headline 2 */
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}
.chart{
    display: flex;
width: auto;
padding: 5%;

flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: #FFF;

box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.14);
}
.p3{
    color: #535353;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p5{
    color: #A7A7A7;
font-family: Roboto;
font-size: 10.769px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Areachart{
    width: auto;
height: auto;
padding: 3%;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px -23.96879px 76.95245px 0px rgba(0, 0, 0, 0.03);
}
.p6{
    width: 194px;
height: 34.538px;
flex-shrink: 0;
color: #272727;
text-align: justify;
font-family: Raleway;
font-size: 22.707px;
font-style: normal;
font-weight: 600;
line-height: normal;
}



@media (min-width: 992px) {
    .sectionone {
      padding-left: 247px  !important;
    }
  }
  
  /* For smaller screens */
  @media (max-width: 991px) {
    .sectionone {
      padding-left: 100px !important;
    }
  }
  